/.vagrant
/consul/consul
/consul/dist
/consul/static
/consul/*.zip
/consul/hostess_linux_amd64
/consul/index.html
/nomad/nomad
/nomad/*.zip
/nomad/hostess_linux_amd64
/util/consul_root.ip
/util/nomad_root.ip
/images/fib-src/.idea
/images/fib-src/target
/images/fib-src/log
/images/fib-src/build
/images/fib-src/.DS_Store
.DS_Store
